<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.finalproj_beta2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinalProj_Beta2">
        <activity android:name=".My_school"></activity>
        <activity android:name=".confirm_student_print" />
        <activity android:name=".settings_page_student" />
        <activity android:name=".home_screen_student" />
        <activity android:name=".request_print" />
        <activity android:name=".first_signin" />
        <activity android:name=".view_request" />
        <activity android:name=".pending_requests" />
        <activity android:name=".success_request" />
        <activity android:name=".settings_page" />
        <activity android:name=".upload_file" />
        <activity android:name=".home_screen" />
        <activity android:name=".create_school" />
        <activity android:name=".teacher_signin" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>